## Final Project Submission

Please fill out:
* Student name: 
* Student pace: self paced / part time / full time
* Scheduled project review date/time: 
* Instructor name: 
* Blog post URL:

In [2]:
# Your code here - remember to use markdown cells for comments as well!
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

import functions as fn
%matplotlib inline

In [3]:
df = pd.read_csv('data\kc_house_data.csv')
df.head(3)

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,10/13/2014,221900.0,3,1.00,1180,5650,1.0,NaN,NONE,...,7 Average,1180,0.0,1955,0.0,98178,47.5112,-122.257,1340,5650
1,6414100192,12/9/2014,538000.0,3,2.25,2570,7242,2.0,NO,NONE,...,7 Average,2170,400.0,1951,1991.0,98125,47.7210,-122.319,1690,7639
2,5631500400,2/25/2015,180000.0,2,1.00,770,10000,1.0,NO,NONE,...,6 Low Average,770,0.0,1933,NaN,98028,47.7379,-122.233,2720,8062

In [4]:
df.info

<bound method DataFrame.info of                id        date     price  bedrooms  bathrooms  sqft_living  \
0      7129300520  10/13/2014  221900.0         3       1.00         1180
1      6414100192   12/9/2014  538000.0         3       2.25         2570
2      5631500400   2/25/2015  180000.0         2       1.00          770
3      2487200875   12/9/2014  604000.0         4       3.00         1960
4      1954400510   2/18/2015  510000.0         3       2.00         1680
...           ...         ...       ...       ...        ...          ...
21592   263000018   5/21/2014  360000.0         3       2.50         1530
21593  6600060120   2/23/2015  400000.0         4       2.50         2310
21594  1523300141   6/23/2014  402101.0         2       0.75         1020
21595   291310100   1/16/2015  400000.0         3       2.50         1600
21596  1523300157  10/15/2014  325000.0         2       0.75         1020

       sqft_lot  floors waterfront  view  ...          grade sqft_above  \
0          5650     1.0        NaN  NONE  ...      7 Average       1180
1          7242     2.0         NO  NONE  ...      7 Average       2170
2         10000     1.0         NO  NONE  ...  6 Low Average        770
3          5000     1.0         NO  NONE  ...      7 Average       1050
4          8080     1.0         NO  NONE  ...         8 Good       1680
...         ...     ...        ...   ...  ...            ...        ...
21592      1131     3.0         NO  NONE  ...         8 Good       1530
21593      5813     2.0         NO  NONE  ...         8 Good       2310
21594      1350     2.0         NO  NONE  ...      7 Average       1020
21595      2388     2.0        NaN  NONE  ...         8 Good       1600
21596      1076     2.0         NO  NONE  ...      7 Average       1020

       sqft_basement yr_built  yr_renovated  zipcode      lat     long  \
0                0.0     1955           0.0    98178  47.5112 -122.257
1              400.0     1951        1991.0    98125  47.7210 -122.319
2                0.0     1933           NaN    98028  47.7379 -122.233
3              910.0     1965           0.0    98136  47.5208 -122.393
4                0.0     1987           0.0    98074  47.6168 -122.045
...              ...      ...           ...      ...      ...      ...
21592            0.0     2009           0.0    98103  47.6993 -122.346
21593            0.0     2014           0.0    98146  47.5107 -122.362
21594            0.0     2009           0.0    98144  47.5944 -122.299
21595            0.0     2004           0.0    98027  47.5345 -122.069
21596            0.0     2008           0.0    98144  47.5941 -122.299

       sqft_living15  sqft_lot15
0               1340        5650
1               1690        7639
2               2720        8062
3               1360        5000
4               1800        7503
...              ...         ...
21592           1530        1509
21593           1830        7200
21594           1020        2007
21595           1410        1287
21596           1020        1357

[21597 rows x 21 columns]>